<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBcsgzoAtoYYAgfeRwLsKH01g47ZQxdmVY</string>
	<key>GCM_SENDER_ID</key>
	<string>639500555141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attandenceSystem</string>
	<key>PROJECT_ID</key>
	<string>attendance-sys-5bb88</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-sys-5bb88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639500555141:ios:e5ccbcfed9cbc651a92aec</string>
</dict>
</plist>